
<div class="row justify-content-center jumbotron" style="padding: unset;">
  <span class="btn btn-primary" style="width: 100%;" routerLink="/displayCategory" role="button">Back</span>     
</div>

<div class="row justify-content-center jumbotron">
  <form name="updateCategory" #updateCategory="ngForm" (ngSubmit)=saveCategoryUpdate(this.updatedCategory)>
    <div style="text-align: center;margin-bottom: 25px;"> 
      <h3>Update Category Information</h3>
    </div>

    <table>
      <tr>
        <td>Category Id </td>
        <td>
          <label  class="form-control">{{currentCategory.categoryId}}</label>
        </td>
      </tr>

      <tr>
        <td>Category Name </td>
        <td>
          <label class="form-control">{{currentCategory.categoryName}}</label>
        </td>
      </tr>

      <tr>
        <td>New Category Name </td>
        <td>
          <input type="text" placeholder="" id="newCategoryName" name="newCategoryName" required [(ngModel)]="this.updatedCategory.categoryName" class="form-control" #Name="ngModel" maxlength="10" autofocus minlength="5">
        </td>
      </tr>

      <div>
        <div *ngIf="Name.invalid && (Name.dirty || Name.touched)">
          <div *ngIf="Name.errors.required" style="color: red;">Please Enter a category Name</div>
          <div *ngIf="Name.errors.minlength" style="color: red;">Category should be minimum 5 characters</div>
          <div *ngIf="Name.errors.maxlength" style="color: red;">Category should be maximum 30 characters</div>
        </div>
      </div>
    </table>

    <div style="margin-top: 50px;">
      <tr>
        <td style="text-align: center;">
          <button class="btn btn-info" [disabled]="!Name.valid" type="submit">save update</button>
          <button class="btn btn-light" style="margin-left: 35px">cancel</button>
        </td>
      </tr>
    </div>
    
    
  </form>
</div>

<div *ngIf="showSuccessMessage" class="text-center">
  <h2 style="color:seagreen;">{{successMessage}}</h2>
 </div>

 <div *ngIf="showErrorMessage" class="text-center">
  <h2>Error : {{errorMessage}}</h2>
 </div>

