<div class="text-center"> 
  <div id="formData" class="col-xl-6 col-lg-6 col-md-5 col-sm-5 mx-auto  form p-3 jumbotron">
    <u> <h2 class="text-center" >Please Enter New Category Information
    </h2></u>
  
    <form name="CreateCategory" #CreateCategory="ngForm" (ngSubmit)=createCategory(CreateCategory)>
      <div class="text-center">
        <div>Enter Category Name: </div>
        <input name="category.categoryName" type="text" [(ngModel)]="category.categoryName" #Name="ngModel" class="form-control" autofocus required maxlength="10" minlength="5">
      </div>
      <br>
      <div class="text-center">
        <button class="btn btn-dark" [disabled]="!CreateCategory.valid" type="submit">Submit</button>
        <span class="btn btn-light"  routerLink="/displayCategory" role="button">Back</span> 
      </div>

    </form>
    <div>
      <div *ngIf="Name.invalid && (Name.dirty || Name.touched)">
        <div *ngIf="Name.errors.required" style="color: red;">Please Enter a category Name</div>
        <div *ngIf="Name.errors.minlength" style="color: red;">Category should be minimum 5 characters</div>
        <div *ngIf="Name.errors.maxlength" style="color: red;">Category should be maximum 30 characters</div>
      </div>
    </div>
  </div>
  </div>
  <div *ngIf="showMessage" class="text-center">
    <h2>{{message}}</h2>
   </div>
  
   <div *ngIf="showError" class="text-center">
    <h2>{{errorMsg}}</h2>
   </div>
   